
    .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
                  text-transform: none;
        margin-bottom: 80px
          }

  .reveal p {
      text-align: left;
      margin-bottom: 50px;
  }
  .reveal ul {
    display: block;
  }
  .reveal ol {
    display: block;
  }
